---
import HomeLayout from "../layouts/HomeLayout.astro";
import { TITLES } from "../utils/constants";

const TITLE = TITLES.home;
---

<HomeLayout title={TITLE}>
  <div>
    <h1>under construction</h1>
  </div>
  <!-- <div class="grid">
    {
      NAVIGATION.filter(({ title }) => TITLE !== title).map(
        ({ title, path, color, backgroundColor }) => {
          if (path) {
            return (
              <a
                href={path}
                class="grid-item"
                style={`color: ${color}; background-color: ${backgroundColor}`}
              >
                {title}
              </a>
            );
          }
          return (
            <div
              class="grid-item"
              style={`color: ${color}; background-color: ${backgroundColor}`}
            >
              {title}
            </div>
          );
        }
      )
    }
  </div> -->
</HomeLayout>

<style>
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
  }
  .grid-item {
    min-width: 200px;
    max-width: 800px;
    height: 240px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: 700;
  }
  a.grid-item {
    text-decoration: none;
  }
  a.grid-item:hover {
    opacity: 0.8;
  }
</style>
