---
import Layout from "../layouts/Layout.astro";
const ITEMS = [
  {
    title: "home",
    path: "/",
    color: "#FFBABA",
    backgroundColor: "#BAFFDF",
  },
  { title: "website", color: "#A81C1C", backgroundColor: "#1C9AA8" },
  {
    title: "about",
    path: "/about",
    color: "#BABDFF",
    backgroundColor: "#FFDFBA",
  },
  {
    title: "works",
    path: "/works",
    color: "#FBBAFF",
    backgroundColor: "#F2FFBA",
  },
  { title: "sammy", color: "#751CA8", backgroundColor: "#A8831C" },
  { title: "samkough", color: "#A85D1C", backgroundColor: "#1CA82A" },
  {
    title: "contact",
    path: "/contact",
    color: "#FFEBBA",
    backgroundColor: "#D2BAFF",
  },
  {
    title: "notes",
    path: "/notes",
    color: "#BAF9FF",
    backgroundColor: "#FFBABA",
  },
];
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="grid">
      {
        ITEMS.map(({ title, path, color, backgroundColor }) =>
          path ? (
            <a
              href={path}
              class="grid-item"
              style={`color: ${color}; background-color: ${backgroundColor}`}
            >
              {title}
            </a>
          ) : (
            <div
              class="grid-item"
              style={`color: ${color}; background-color: ${backgroundColor}`}
            >
              {title}
            </div>
          )
        )
      }
    </div>
  </main>
</Layout>

<style>
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
  }
  .grid-item {
    min-width: 200px;
    max-width: 800px;
    height: 200px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: 700;
  }
  a.grid-item {
    text-decoration: none;
  }
  a.grid-item:hover {
    opacity: 0.8;
  }
</style>
