---
import PageLayout from "../layouts/PageLayout.astro";
import { TITLES } from "../utils/constants";

const ACTIVE_ITEMS = [
  {
    title: "snarfs",
    href: "https://snarfs.my",
  },
  {
    title: "one place a day",
    href: "https://oneplaceaday.com",
  },
  {
    title: "arabzingo",
    href: "https://arabzingo.sammy.pizza",
  },
  {
    title: "ranked choice voting",
    href: "https://rcv.sammy.pizza",
  },
];

const ARCHIVED_ITEMS = [
  {
    title: "custom resume",
    href: "https://customresume.sammy.pizza",
  },
  {
    title: "hangul house",
    href: "https://hangulhouse.sammy.pizza",
  },
  {
    title: "kana kove",
    href: "https://kanakove.sammy.pizza",
  },
  {
    title: "njcoronavirus",
    href: "https://njcoronavirus.sammy.pizza",
  },
  {
    title: "the render archive website",
    href: "https://renderarchive.sammy.pizza",
  },
  {
    title: "pikmin decompilation website",
    href: "https://pikmindecomp.sammy.pizza",
  },
  {
    title: "make an app everyday journey",
    href: "https://samkoughmaej.weebly.com",
  },
];

const OTHER_ITEMS = [
  {
    title: "golan diaspora",
    href: "https://golandiaspora.online",
  },
  {
    title: "varygeek",
    href: "https://marej.red",
  },
  {
    title: "samkough",
    href: "https://samkough.com",
  },
];
---

<PageLayout title={TITLES.projects}>
  <p>here are active projects:</p>
  <ul>
    {
      ACTIVE_ITEMS.map(({ title, href }) => (
        <li>{href ? <a href={href}>{title}</a> : <span>{title}</span>}</li>
      ))
    }
  </ul>
  <p>here are archived projects:</p>
  <ul>
    {
      ARCHIVED_ITEMS.map(({ title, href }) => (
        <li>{href ? <a href={href}>{title}</a> : <span>{title}</span>}</li>
      ))
    }
  </ul>
  <p>other:</p>
  <ul>
    {
      OTHER_ITEMS.map(({ title, href }) => (
        <li>{href ? <a href={href}>{title}</a> : <span>{title}</span>}</li>
      ))
    }
  </ul>
</PageLayout>
